/Backend/translatorapp_v2/Datos
/Backend/translatorapp_v2/credentials.json
/Backend/chroma_db/embeddings
/Backend/translatorapp_v2/db.sqlite3
/Backend/translatorapp_v2/cache
/Backend/chroma_db
/Backend/translatorapp_v2/secrets
/Backend/translatorapp_v2/*.md
/Backend/translatorapp_v2/*.json
.env
*.pyc
/Backend/translatorapp_v2/data/*
package-lock.json
.env.*
*.DS_Store
*.log
Model/key.json
Model/_tmp_tokenizer
*.md
.codex
/Backend/translatorapp_v2/main/tests/test_ocr.py
